@import "tailwindcss";

@font-face {
  font-family: "Flaemische";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/FlaemischeKanzleischrift.ttf") format("truetype");
}

@font-face {
  font-family: "HalenoirCompact-Medium";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/HalenoirCompact-Medium.otf") format("truetype");
}

@font-face {
  font-family: "scholar";
  font-style: normal;
  font-display: swap;
  src: url("./fonts/scholar-regular.otf") format("truetype");
}

@theme {
  --font-halenoir: "HalenoirCompact-Medium", sans-serif;
  --font-flaemische: "Flaemische", sans-serif;
  --font-scholar: "scholar", sans-serif;

  --color-primary: #400106;
  --color-secondary: #5a3719;
  --color-tertiary: #a77246;
  --color-quaternary: #bf8e63;
  --color-quinary: #250101;
  --color-error: #ff0000;
  --color-success: #008000;
  --color-gold: #E7B276;
}



.logo {
  max-width: 250px;
  cursor: pointer;
}

.menu-burger {
  width: clamp(35px, 2.552vw, 49px);
  cursor: pointer;
}

.bg-header-box {
  border: 1px solid rgba(234, 217, 203, 0.2);

  background: linear-gradient(94deg,
      rgba(234, 217, 203, 0.2) 0%,
      rgba(234, 217, 203, 0.05) 100%);

  backdrop-filter: blur(4px);
}


.bubbles {
  height: auto;
  width: clamp(60px, 7.3vw, 94px);
}

.titleAnimation {
  animation: slideIn 500ms ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.bgLogIn {
  background-image: url('./img/png/fondLogIn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titleTag {
  width: clamp(150px, 35vw, 300px);
}

.linear-bg {
  box-shadow: 0px 4px 30px 0px rgba(231, 178, 118, 0.30);
}

.slide-in-left {
  animation: slideInLeft 0.3s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.card-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* foncé semi-transparent */
  border-radius: inherit;
  z-index: 0;
}

.card-overlay > * {
  position: relative;
  z-index: 1;
}
